 /*#root {
  text-align: center; Center child elements 
}*/

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure full height of the viewport */
  margin: 0; /* Remove default margin */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea {
  min-width: 100%;
  min-height: 100px;
  max-width: 100%; /* Adjust the maximum width as needed */
  max-height: 400px; /* Adjust the maximum height as needed */
  width: 100%; /* Make the textarea responsive */
}

input {
  width: 100%
}